
<html>
<head>
	<title> Woo's blog</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<style type="text/css">
		.sidenav {
			height:100%;
			width:100px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#003366;
			overflow-x:hidden;
			padding-top:20px;
		}

		.sidenav a {
			padding:60px 8px 6px 6px;
			text-decoration: none;
			font-size:25px;
			color: #ffffff;
			display:block;
		}

		.sidenav a:hover{
			color:#f1f1f1;
		}

		.main{
			margin-left:160px;
			padding: 0px 10px;
		}

	</style>






	<title>{% block title %}Tim's Site{% endblock %}</title>
{% load static %}
 <html>
    <head>

      <title>Woo's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
 <body>
	<div class="sidenav">
		<a href="/">Home</a>
		<a href="{% url 'post_new' %}" /create">write</a>
		<a href="https://leeseungwooo.pythonanywhere.com/admin/">admin</a>
        <a href="https://www.google.com/">best friend</a>
        <a href="https://ko.wikipedia.org/wiki/%EA%B9%80%EC%A0%95%EC%9D%80">best leader</a>
	</div>
<div class="page-header">

        <h1><a href="/">Woo's Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
	{% block content %}
	{% endblock %}
 </div>
        </div>
    </div>
</body>

</html>
